.strip {
    padding: 1em 0;
    color: white;
    border-bottom: 2px solid #ffffff;
}

header {
    background-color: #2ecc71;
    text-align: center;
}

#stats {
    background-color: #3498db;
}

#speed {
    background-color: #e74c3c;
}

#settings {
    background-color: #f1c40f;
}

.icon {
    margin-right: 5px;
    height: 32px;
    width: auto;
}

.icon-bird {
    margin: 0 5px;
    height: 64px;
    width: auto;
}

#game {
    background-image: url("img/landscape.png");
    background-size: contain;
}
